.logoNavbar {
	font-size: 3em;
	color: var(--color-icons);
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: var(--background-navbar);
	box-shadow: -9px 24px 62px -20px rgba(0, 0, 0, 0.3);
}

.navbarAligment {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbarAligment ul {
	list-style: none;
	display: flex;
	align-items: center;
}

.navbarAligment ul li {
	margin-right: 45px;
}

.navbarAligment button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 38px;
	color: var(--background-navbar);
	background-color: var(--color-button);
}
