:root {
	--background: white;
	--background-navbar: rgb(240, 230, 243);
	--color-font: rgb(61, 60, 60);
	--hover-font: rgb(153 148 241);
	--color-button: black;
	--hover-button: rgb(139, 135, 216);
}
:root.dark {
	--background: rgba(18, 17, 17, 0.945);
	--background-navbar: rgb(10, 10, 10);
	--color-font: white;
	--color-button: white;
	--hover-button: rgb(153 148 241);
	--link-background-footer: rgb(234, 255, 255);
	--color-icons: white;
}
.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 2rem;
}
body {
	margin: 0;
	margin-top: 150px;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	background-color: var(--background);
}

/* Buttons */

.button {
	border-radius: 5px;
	border: none;
}
.button:hover {
	background-color: var(--hover-button);
	cursor: pointer;
}

/* Links */
a {
	color: var(--color-font);
	text-decoration: none;
}
a:hover {
	color: var(--hover-font);
}

/* Titles */

h1 {
	text-align: center;
	margin: 3rem 0;
	color: var(--color-font);
}

/* Card */
.card-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
}

.go-back-footer {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0.8rem 0;
	margin-top: 5rem;
	background-color: rgb(153 148 241);
	font-weight: bold;
}

.go-back-footer:hover {
	color: black;
}
