:root {
	--background: rgb(234, 255, 255);
	--color-font: rgb(99, 99, 99);
	--hover-font: rgb(129, 188, 197);
	--color-button: black;
	--hover-button: rgba(66, 62, 62, 0.918);
}
.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 2rem;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	font-size: 18px;
}

.dark {
	background-color: rgba(6, 4, 11, 0.318);
}

.light {
	background-color: aliceblue;
}

/* Buttons */

.button {
	border-radius: 20%;
	border: none;
	background-color: var(--color-button);
}
.button:hover {
	background-color: var(--hover-button);
	cursor: pointer;
}

/* Links */
a {
	color: var(--color-font);
	text-decoration: none;
}
a:hover {
	color: var(--hover-font);
}

/* Titles */

h1 {
	text-align: center;
	margin: 3rem 0;
	color: rgb(42, 42, 42);
}

/* Card */
.card-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
}
